/* Custom Fonts */
@font-face {
  font-family: 'groovy'; 
  src: url('fonts/Morsan-4BDo4.ttf') format('truetype');
}

@font-face {
  font-family: 'gazpacho'; 
  src: url('fonts/Gazpacho Regular.ttf') format('truetype');
}

/* Global styles */
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #242324;
  color: #f9e2f9;
}

/* Header styles */
header {
  background-color: #f9e2f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Title styles */
.main-title, .title {
  font-family: 'groovy', Arial, sans-serif;
  font-weight: bold;
  color: #242324;
  line-height: 1;
  margin-top: 0px;
}

.main-title {
  font-size: 6rem;
}

.title {
  font-size: 2.5rem;
}

/* Login button styles */
.login-button {
  margin-top: 2rem;
}

.login-button button {
  background-color: #242324;
  color: #f9e2f9;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #ae6a35;
}

.login-button svg {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: -6px;
}

/* Footer styles */
footer {
  background-color: #f9e2f9;
  padding: 30px;
  color: #242324;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Playlists section styles */
#playlists {
  padding: 20px;
  color: #f9e2f9;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

/* Duplicate buttons styles */
.disabled {
  background-color: #707070 !important;
  color: #d0bcd0 !important;
  cursor: not-allowed !important;
}

.enabled {
  background-color: #9d7556 !important;
  color: #f9e2f9 !important;
  cursor: pointer !important;
}

.enabled:hover {
  background-color: #c37234 !important;
  color: #f9e2f9 !important;
  cursor: pointer !important;
}

/* Readme section styles */
.readme {
  font-family: 'gazpacho';
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  color: #f9e2f9;
}

.selected-playlists {
  color: #242324;
  background-color: #f9e2f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#loading {
  padding: 50px;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}

.loader {
  border: 6px solid #f9e2f9; /* Light grey */
  border-top: 6px solid #242324; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#remove-duplicates {
  display: block;
  margin: 0 auto 20px auto; /* 20px margin at the bottom */
}

#removal-playlist-dropdown {
  color: #242324;
  background-color: #f9e2f9;
  padding: 8px 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  transition: background-color 0.3s ease;
  margin: auto; /* This helps in centering if the parent uses flexbox */
}

#removal-playlist-dropdown:hover {
  background-color: #e0cde0; /* A slightly lighter shade for hover */
}

#removal-playlist-dropdown:focus {
  border-color: #9b75da; /* A border color when the dropdown is focused */
}

#removal-playlist-dropdown option {
  color: #242324;
  background-color: #f9e2f9;
  padding: 8px 12px;
}

#dropdown-title {
  display: block;
  font-size: 0.8rem; /* Adjust to make it small */
  color: #242324; /* Color from your palette */
  margin-top: 8px; /* Space between the dropdown and the label */
  text-align: center; /* Center the text */
}


/* Display of duplicate tracks list */

.duplicate-track {
  display: flex;
  color: #f9e2f9;
  align-items: center; /* Vertically center the child elements */
  padding: 10px 0; /* Add some vertical padding for spacing */
}

.duplicate-track > *:not(:last-child) {
  margin-right: 10px; /* Add spacing to the right of every child except the last one */
}

.checkbox-container,
.image-container,
.text-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.image-container img {
  max-width: 60px; /* Adjust the image size if necessary */
  height: auto;
}

#start-over-button {
  background-color: #f9e2f9;
  color: #242324; 
  padding: 8px 16px; /* Smaller padding than the Show Duplicates button */
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: none; /* Initially hidden */
  margin: 20px auto; /* Center the button and add margin at the top */
  max-width: 200px; /* Adjust width as needed */
}

#start-over-button:hover {
  background-color: #ae6a35; /* Lighter shade of green on hover */
}

#select-all-duplicates {
  margin: 2px;
  color: #f9e2f9;
  margin-bottom: 10px;  /* Adjust as needed */
}

#load-more {
  background-color: #f9e2f9; 
  color: #242324; 
  padding: 8px 16px; /* Smaller padding than the Show Duplicates button */
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: none; /* Initially hidden */
  margin: 20px auto; /* Center the button and add margin at the top */
  max-width: 200px; /* Adjust width as needed */
}

#load-more:hover {
  background-color: #ae6a35; /* Lighter shade of green on hover */
  color: #f9e2f9; 
}

#search-container {
  display: none;
  padding-top: 30px;
  padding-bottom: 10px;
}

#search-container input[type="text"] {
  border-radius: 8px; /* This gives the input field rounded corners */
  background-color: #f9e2f9; /* This sets the background color of the input field */
  border: 1px solid #ccc; /* This gives a border to the input field */
  padding: 8px 12px; /* This gives some padding inside the input field */
  font-size: 16px; /* This sets the font size inside the input field */
  outline: none; /* This removes the browser's default outline on focus */
}

#search-container input[type="text"]:focus {
  border-color: #9b75da; /* This changes the border color when the input field is focused */
}

